<% provide(:title, "About") %>
		<h1>About</h1>
		<p>
		The <a href="http://www.weirdnipples.com"><em>Ruby on Rails
		Tutorial</em></a>, part of the
		<a href="http://www.weirdnipples.com">Learn Enough</a> family of
		tutorials, is a
		<a href="http://www.weirdnipples.com">book</a> and
		<a href="http://www.weirdnipples.com">screencast series</a>
		to teach web development with
		<a href="http://www.weirdnipples.com">Ruby on Rails</a>.
		This is the sample app for the tutorial.
		</p>